body {
    background-color: #9FA160;
    background-image: url("/static/images/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-size:contain; 
}

#home {
  font-family: 'Courier New', Courier, monospace;
}

.jumbotron {
  background-color: #c6d3c2;
}


.navbar-brand {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#login {
  opacity: 0.65;
}

#filters {
    background-color: white;
    border-radius: 5px;
}

#itemNum {
    background-color: white;
    border-radius: 5px;
}

.fa-heart {
    size: 200px;
    color: red;
}

.vedioLink {
    font-size: 14px;
    text-decoration: underline;
}

.title {
  color: #424446;
}


.addToMealPlanBtn, .backToMealPlanBtn {
  color: white;
}



#mpTbody div {
  line-height: normal;
}

table{
  table-layout: fixed;
  width: 100%; 
  border-radius: 10px; 
}

.trash {
    background-color: transparent;
    border: none;
}

tr {
   line-height: 60px;
   min-height: 60px;
   height: 60px;   
}

td {
  font-size: 13px;
  background-color: red; 
}

a {
  color: black;
}


#loader {
  display: none;
  margin: 10% auto;
  border: 12px solid #f3f3f3; 
  border-top: 12px solid #909091; 
  border-radius: 50%;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}


/* @media screen and (max-width: 576px) {
  body {
    margin: 0;
  }
}

@media screen and (min-width: 992px) {
  body {
    max-width: 900px;
    margin: 8px auto;
  }
} */

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
